<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2010 Stewart Gateley <birbeck@gmail.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.birbeck.wallpaperslideshow" android:versionName="0.1.4"
	android:versionCode="8">

	<application android:label="@string/app_name" android:icon="@drawable/icon"
		android:debuggable="false">
		<activity android:name=".WallpaperSettings" android:label="Configure Wallpaper"
			android:exported="true" />
		<service android:name=".WallpaperMain" android:label="@string/app_name"
			android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/wallpaper" />
		</service>
	</application>

	<uses-sdk android:minSdkVersion="7" />
	<uses-feature android:name="android.software.live_wallpaper" />

</manifest>